.board{
    width: 600px;
    height: 600px;
    border: darkblue 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    transform: rotate(y)180deg;
  
}

.timeKeeper{
    text-align: center;
    font-size: 50;
    
}

.score{
    text-align: center;
    font-size: 50;
    
}

