.board{
    width: 600px;
    height: 600px;
    border: darkblue 1px solid;
    display: flex;
    flex-wrap: wrap;
    
  
}

.timeKeeper{
    text-align: center;
    font-size: 50;
    
}

.score{
    text-align: center;
    font-size: 50;
    
}
